@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
html{
    background-image: url(bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(41, 41, 41);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}
.nav-but{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    width: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: none;
    cursor: pointer;
    background-color: rgb(41, 41, 41);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Monoton', cursive;
}
.nav-but:hover{
    width: 200px;
    background-color: white;
    color: black;
    box-shadow: 0 10px 10px 5px rgba(0,0,0,0.24);
    transition: 0.5s;
}
.nav-s{
    width: 1200px;
}
.info{
    display: flex;
    flex-direction: row;
    padding-top: 200px;
    margin-bottom: 100px;
}
.des{
    display: flex;
    flex-direction: column;
    font-size: 50px;
}
.des1{
    margin-left: 200px;
    margin-bottom: 30px;
    color: white;
    font-family: 'Kalam', cursive;
}
.name{
    color: black;
    margin-top: 40px;
    font-family: 'Kalam', cursive;
}
.des-image{
    margin-left: 100px;
}
.des-dp{
    border-radius: 50%;
}
.edu-h{
    margin-left: 150px;
    font-size: 100px;
    padding-top: 150px;
    color: black;
    font-family: 'Tourney', cursive;
}
.edu{
    width: 1500px;
    height: 700px;
    margin-left: 100px;
    border-radius: 100px;
    border-style: solid;
    background-color: #333652;
    opacity: 0.75;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: white;
    padding-top: 100px;
    font-family: 'Gruppo', cursive;
}
.edu:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
}
.ski-h{
    margin-left: 1200px;
    font-size: 100px;
    padding-top: 150px;
    color: black;
    font-family: 'Tourney', cursive;
}
.ski{
    width: 1500px;
    height: 400px;
    margin-left: 300px;
    border-radius: 100px;
    border-style: solid;
    background-color: #333652;
    opacity: 0.75;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: white;
    padding-top: 150px;
    font-family: 'Gruppo', cursive;
}
.ski:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
}
.me-h{
    margin-left: 150px;
    font-size: 100px;
    padding-top: 150px;
    color: black;
    font-family: 'Tourney', cursive;
}
.me{
    width: 1500px;
    height: 450px;
    margin-left: 100px;
    border-radius: 100px;
    border-style: solid;
    background-color: #333652;
    opacity: 0.75;
    margin-bottom: 200px;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: white;
    padding-top: 100px;
    font-family: 'Gruppo', cursive;
}
.me:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    
}
.con{
    text-align: center;
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.icons{
    display: flex;
    flex-direction: row;
}
.icon-spc{
    display: flex;
    flex-direction: row;
}
.icon-adj{
    width: 30px;
    cursor: pointer;
}
.icon-adj:hover{
    width:40px;
    transition: 0.5s;
}
.icon-set{
    width: 400px;
    height: 300px;
    border-style: solid;
    border-radius: 50px;
    background-color:white ;
    opacity: 0.7;
}
.ext{
    flex:  1
}
@media screen and (max-width: 600px)
{
    .nav-but{
        width: 40px;
        font-size: 7px;
        padding: 10px;
    }
    .nav-but:hover{
        width: 70px;
    }
    .nav-s{
        width: 100px;
    }
    .info{
        padding-top: 100px;
        height: 50px;
    }
    .des{
        font-size: 10px;
        width: 200px;
        height: 50px;
    }
    .des1{
        margin-left: 30px;
        width: 200px;
    }
    .name{
        margin-top: 10px;
    }
    .edu-h{
        font-size: 36px;
        line-height: 50px;
    }
    .des-image{
        margin-left: 10px;
    }
    .des-dp{
        width: 100px;
        height: 120px;
        object-fit: contain;
    }
    .edu-h{
        margin-left: 10px;
        padding-top: 20px;
        font-size: 30px;
        width: 200px;
    }
    .edu{
        margin-left: 15px;
        width: 280px;
        height: 130px;
        font-size: 10px;
        border-radius: 10px;
        padding-top: 15px;
        
    }
    .ski-h{
        margin-left: 200px;
        padding-top: 20px;
        font-size: 30px;
        width: 100px;
    }
    .ski{
        margin-left: 100px;
        width: 200px;
        height: 70px;
        font-size: 10px;
        border-radius: 10px;
        padding-top: 20px;
        
    }
    .me-h{
        margin-left: 10px;
        padding-top: 20px;
        font-size: 30px;
    }
    .me{
        margin-left: 15px;
        width: 280px;
        height: 100px;
        font-size: 10px;
        border-radius: 10px;
        padding-top: 20px;
        margin-bottom: 30px;
    }
    .icon-set{
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }
    .con{
        font-size: 10px;
        margin: 20px;
    }
    .icon-adj{
        width: 10px;
    }
    .icon-adj:hover{
        width:10px;
    }
}
